<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/homestyle.css">
    <title>Document</title>
</head>

<body>
    <div class="container">

        <div class="navbar">
            <img src="../../public/src/logo.png" class="logo">
            <nav>

            </nav>

            <img src="../../public/src/menu.png" class="menu-icon">

        </div>
        <div class="row">
            <div class="col">
                <h1> Saara </h1>
                <p> O Deserto do Saara ou Deserto do Sara, ou Deserto do Sáara é conhecido por ser o maior deserto
                    quente do mundo. Oficialmente, é o terceiro maior deserto da Terra, logo após a Antártida e o Ártico.
                </p>
                <button type="button">Explorar</button>
            </div>
            <div class="col">
                <div class="card card1">
                    <h5>O Deserto Ocidental</h5>
                </div>
                <div class="card card2">

                    <h5> O Bagawat </h5>
                </div>
                <div class="card card3">

                    <h5> Pirâmide de Quéops </h5>
                </div>
                <div class="card card4">

                    <h5> Kalahari </h5>

                </div>
            </div>
        </div>

</body>

</html>