<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="box_login">
        <div class="top"> Login Form

        </div>
        <form method="POST" action="home">

            <input type="email" name="email" placeholder="E-MAIL" required>
            <input type="password" name="password" placeholder="SENHA" required>

            <button class="btn-login">logar</button>
            <span class="msg_error"><i class="fa fa-exclamation-triangle"
                    style="font-size: 18px;color: brown; padding-right:5px;"></i>Preencha todos os campos</span>

        </form>

    </div>
</body>

</html>